@model ReportsDemoModel
@section AdditionalResources {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/RunDesignerButton.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ViewerSelector.css")" />
}

@section TopRightMenuRegion {
    @Html.Partial("ViewerSelectorPartial", Model.ReportID)
    @Html.Partial("ShowDesignerButtonPartial", Model.ReportID)
}

@if(Model.IsASPViewer) {
    @Html.Partial("TableViewerPartial", Model)
}
else if(Model.IsHTML5Viewer) {
    @Html.DevExpress().WebDocumentViewer(settings => {
        settings.Name = "webDocumentViewer";
    }).Bind(Model.Report).GetHtml()

    <script>
        if(webDocumentViewer) {
            webDocumentViewer.CustomizeParameterEditors.AddHandler(function(_, e) {
                if(e.parameter.name === 'OrderIdParameter') {
                    e.info.editor = { header: 'param-order-id' };
                } else if(e.parameter.name === 'MaxRowCountParameter') {
                    e.info.editor = { header: 'param-rows-count' };
                }
            });
        }
    </script>

    <script type="text/html" id="param-order-id">
        <div data-bind="dxNumberBox: { value: value, showSpinButtons: true, min: 10248, max: 11077}"></div>
    </script>
    <script type="text/html" id="param-rows-count">
        <div data-bind="dxNumberBox: { value: value, showSpinButtons: true, min: 1, max: 13}"></div>
    </script>
}
else if(Model.IsMobileViewer) {
    @Html.Partial("MobileEmulator", Model.EmulatorModel)
}