@model PdfPasswordProtectionModel
@using (Html.BeginForm("Protect", "Pdf")) {
<table>
    <tr>
        <td style="width:100%">
            @Html.Action("PdfPasswordProtectionPartial")
        </td>
        <td style="vertical-align:top; width:250px">
            <table class="OptionsTable" style="margin-top:28px">
                <tr>
                    <td style="padding-right:30px;padding-left:30px">
                        @Html.DevExpress().Label(settings => {
                       settings.Text = "Owner&nbsp;password:";
                       settings.EncodeHtml = false;
                   }).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().TextBox(settings => {
                       settings.Name = "OwnerPassword";
                       settings.Text = "";
                       settings.Properties.Password = true;
                       settings.Width = new Unit("100%");
                   }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:30px;padding-left:30px">
                        @Html.DevExpress().Label(settings => {
                       settings.Text = "User&nbsp;password:";
                       settings.EncodeHtml = false;
                   }).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().TextBox(settings => {
                       settings.Name = "UserPassword";
                       settings.Text = "";
                       settings.Properties.Password = true;
                       settings.Width = new Unit("100%");
                   }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:30px;padding-left:30px">
                        @Html.DevExpress().Label(settings => {
                       settings.Text = "Printing:";
                       settings.EncodeHtml = false;
                   }).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().ComboBox(settings => {
                       settings.Name = "AllowPrinting";
                       settings.Width = new Unit("100%");
                       settings.SelectedIndex = 2;
                       settings.Properties.Items.Add("Not allowed", PdfDocumentPrintingPermissions.NotAllowed);
                       settings.Properties.Items.Add("Low quality", PdfDocumentPrintingPermissions.LowQuality);
                       settings.Properties.Items.Add("Allowed", PdfDocumentPrintingPermissions.Allowed);
                   }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:30px;padding-left:30px">
                        @Html.DevExpress().Label(settings => {
                       settings.Text = "Data&nbsp;extraction:";
                       settings.EncodeHtml = false;
                   }).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().ComboBox(settings => {
                       settings.Name = "AllowExtraction";
                       settings.Width = new Unit("100%");
                       settings.SelectedIndex = 2;
                       settings.Properties.Items.Add("Not allowed", PdfDocumentDataExtractionPermissions.NotAllowed);
                       settings.Properties.Items.Add("Accessibility", PdfDocumentDataExtractionPermissions.Accessibility);
                       settings.Properties.Items.Add("Allowed", PdfDocumentDataExtractionPermissions.Allowed);
                   }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:30px;padding-left:30px">
                        @Html.DevExpress().Label(settings => {
                       settings.Text = "Modification:";
                       settings.EncodeHtml = false;
                   }).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().ComboBox(settings => {
                       settings.Name = "AllowModification";
                       settings.Width = new Unit("100%");
                       settings.SelectedIndex = 2;
                       settings.Properties.Items.Add("Not allowed", PdfDocumentModificationPermissions.NotAllowed);
                       settings.Properties.Items.Add("Document assembling", PdfDocumentModificationPermissions.DocumentAssembling);
                       settings.Properties.Items.Add("Allowed", PdfDocumentModificationPermissions.Allowed);
                   }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:30px;padding-left:30px">
                        @Html.DevExpress().Label(settings => {
                       settings.Text = "Interactivity:";
                       settings.EncodeHtml = false;
                   }).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().ComboBox(settings => {
                       settings.Name = "AllowInteractivity";
                       settings.Width = new Unit("100%");
                       settings.SelectedIndex = 2;
                       settings.Properties.Items.Add( "Not allowed", PdfDocumentInteractivityPermissions.NotAllowed);
                       settings.Properties.Items.Add("Form filling and signing", PdfDocumentInteractivityPermissions.FormFillingAndSigning);
                       settings.Properties.Items.Add("Allowed", PdfDocumentInteractivityPermissions.Allowed);
                   }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding-top:22px;padding-left:30px">
                        @Html.DevExpress().Button(settings => {
                       settings.Name = "btnProtect";
                       settings.Text = "Protect&nbsp;and&nbsp;Download";
                       settings.EncodeHtml = false;
                       settings.Height = new Unit("25px");
                       settings.Width = new Unit("100%");
                       settings.UseSubmitBehavior = true;
                   }).GetHtml()
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
}

