@model PdfSignatureModel
@using (Html.BeginForm("Sign", "Pdf")) {
<table>
    <tr>
        <td style="width:100%">
            @Html.Action("SignaturePartial")
        </td>
        <td style="vertical-align:top;width:250px;">
            <table class="OptionsTable" style="margin-top:28px">
                <tr>
                    <td style="padding-right:30px;padding-left:30px">
                        @Html.DevExpress().Label(settings => {
                       settings.Text = "Reason:";
                       settings.EncodeHtml = false;
                   }).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().TextBox(settings => {
                       settings.Name = "Reason";
                       settings.Text = "";
                       settings.Width = new Unit("100%");
                   }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:30px;padding-left:30px">
                        @Html.DevExpress().Label(settings => {
                       settings.Text = "Location:";
                       settings.EncodeHtml = false;
                   }).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().TextBox(settings => {
                       settings.Name = "Location";
                       settings.Text = "";
                       settings.Width = new Unit("100%");
                   }).GetHtml()
                    </td>
                </tr>
              
                <tr>
                    <td style="padding-right:30px;padding-left:30px">
                        @Html.DevExpress().Label(settings => {
                       settings.Text = "Contact&nbsp;info:";
                       settings.EncodeHtml = false;
                   }).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().TextBox(settings => {
                       settings.Name = "ContactInfo";
                       settings.Width = new Unit("100%");
                   }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding-top:22px;padding-left:30px">
                        @Html.DevExpress().Button(settings => {
                       settings.Name = "btnSign";
                       settings.Text = "Sign and Download";
                       settings.Height = new Unit("25px");
                       settings.Width = new Unit("100%");
                       settings.UseSubmitBehavior = true;
                   }).GetHtml()
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
}