@model ReportDesignerDemoModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head id="Head1">
    <title>Report Designer</title>
    <link href="@Url.Content("~/Content/Designer.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery-ui-1.11.4.custom.min.css")" rel="stylesheet" />
    @Html.DevExpress().GetStyleSheets(ASPxWebClientUIControl.ColorSchemeLight,
        new StyleSheet { ExtensionType = ExtensionType.ReportDesigner }
    )
    <script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.custom.min.js")"></script>
    <script src="@Url.Content("~/Scripts/globalize.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout.js")"></script>
    <script src="@Url.Content("~/Scripts/ace.js")"></script>
    <script src="@Url.Content("~/Scripts/ext-language_tools.js")"></script>
    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.ReportDesigner }
    )
</head>
<body>
    @Html.DevExpress().ReportDesigner(settings => {
    settings.Name = "reportDesigner";
    settings.ControlStyle.CssClass = "fullscreen";
    settings.Height = Unit.Empty;
        }).BindToUrl(Model.ReportID).GetHtml()
    <input type="hidden" id="redirectValue" value="@Model.RedirectUrl" />
    <script src="@Url.Content("~/Scripts/Designer.js")"></script>
</body>

</html>
