@section AdditionalResources {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Editors/BinaryImage/Css/BinaryImage.css")">
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    BinaryImageDemoOptions demoOptions = ViewBag.DemoOptions;
    IEnumerable<SelectListItem> avalibleSizesList = demoOptions.AvalibleSizes
        .Select(s => new SelectListItem {
            Value = s.Key,
            Text = s.Value.Text,
            Selected = s.Key == demoOptions.ImageSize
        });
}
<script type="text/javascript">
    var FILE_SIZE_ELEMENT_ID = "fileSize",
            IMAGE_SIZE_ELEMENT_ID = "imageSizes";

    var fileSizes = {
        "640x480|0": 46,
        "640x480|1": 46,
        "640x480|2": 46,

        "400x400|0": 22,
        "400x400|1": 22,
        "400x400|2": 28,

        "300x0|0": 14,
        "300x0|1": 14,
        "300x0|2": 34
    };

    $(document).ready(function () {
        updateImageInfo();
        $("#ImageSize").bind("change", updateImageInfo);
        $("#ImageSizeMode").bind("change", updateImageInfo);
        $("#ImageSizeMode, #ImageSize").change(function () { $("form").submit(); });
    });
    function updateImageInfo() {
        var key = $("#ImageSize").val() + "|" + $("#ImageSizeMode").val();
        $("#" + FILE_SIZE_ELEMENT_ID).html(fileSizes[key]);
        $("#" + IMAGE_SIZE_ELEMENT_ID).html($("#ImageSize option:selected").text());
    }
</script>
@using (Ajax.BeginForm("BinaryImagePartial", "Editors",
    new AjaxOptions {
        HttpMethod = "POST",
        UpdateTargetId = "content",
        InsertionMode = InsertionMode.Replace
    })) {
    
    <div class="panelHeader">
        <b>Resizing settings</b>
    </div>
    <div class="controlBlock">
        <label class="dropDown" for="ImageSizeMode">ImageSizeMode:</label>
        @Html.DropDownList("ImageSizeMode", typeof(ImageSizeMode), demoOptions.ImageSizeMode)
    </div>
    <div class="controlBlock">
        <label class="dropDown" for="ImageSize">Size:</label>
        @Html.DropDownList("ImageSize", avalibleSizesList)
    </div> 
    <div id="content">
        @Html.Action("BinaryImagePartial")
    </div>
    <p>
        The origianl image file size is <b>328KB</b> (1200 x 900 px), the resized image
        file size is <b id="fileSize"></b><b>KB</b> for (<span id="imageSizes"></span>).</p>    
}