@model MaskedData

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
@section AdditionalResources {
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
@using(Html.BeginForm("TextBox", "Editors", FormMethod.Post, new { id = "validationForm", @class = "edit_form" })) {
<div class="editorsPanel">
    <div>
        <div class="editorContainer">
            @Html.DevExpress().TextBox(
                settings => {
                    settings.Name = "textBox1";
                    settings.Width = 170;
                    settings.Properties.DisplayFormatString = "[ 00 - 00 - 00 ]";
                    settings.Text = "123456";
                }
            ).GetHtml()
        </div>
        <label>
            DisplayFormatString = "[ 00 - 00 - 00 ]"
        </label>
    </div>
    <div>
        <div class="editorContainer">
            @Html.DevExpress().TextBox(
                settings => {
                    settings.Name = "textBox2";
                    settings.Width = 170;
                    settings.Properties.NullText = "Enter your name...";
                }
            ).GetHtml()
        </div>
        <label>
            NullText = "Enter your name..." 
        </label>
    </div>
    <div>
        <div class="editorContainer">
            @Html.DevExpress().TextBox(
                settings => {
                    settings.Name = "textBox3";
                    settings.Width = 170;
                    settings.Properties.MaskSettings.Mask = "+1 (999) 000-0000";
                    settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                    settings.Properties.MaskSettings.ErrorText = "Invalid Phone Number";
                }
            ).GetHtml()
        </div>
        <label>
            MaskSettings.Mask = "+1 (999) 000-0000" 
        </label>
    </div>
    <div>
        <div class="editorContainer">
            @Html.DevExpress().TextBoxFor(
                model => (new MaskedData()).Phone,
                settings => {
                    settings.Name = "textBox4";
                    settings.Width = 170;
                }
            ).GetHtml()
        </div>
        <label>
            [Mask("+1 (999) 000-0000")]
        </label>
    </div>
</div>
}
