@model UnitConversionTemperatureAndPressureModel
<script type="text/javascript">
    // <![CDATA[
    function SubmitConversionTemperatureAndPressure(activeEditorId) {
        if (document.unitConversionLock)
            return;
        $('#TPTemperatureAndPressureContainer>#TemperatureAndPressureEditorId').val(activeEditorId);
        $('#TPTemperatureAndPressureContainer>#submitButton').trigger('submit');
    }
    // ]]>
</script>

@Html.HiddenFor(model => model.TemperatureAndPressureEditorId, new { id = "TemperatureAndPressureEditorId" })
@Html.DevExpress().Label(
                settings => {
                    settings.Name = "ASPxLabel18";
                    settings.Text = "TEMPERATURE AND PRESSURE";
                    settings.ControlStyle.Font.Size = FontUnit.Parse("30px");
                }).GetHtml()
<table class="UnitConversionLayoutTable">
    <tr>
        <td>
            @Html.DevExpress().SpinEditFor(model => model.Celsius,
                settings => {
                    settings.Name = "Celsius";
                    settings.TabIndex = 1;
                    settings.Width = Unit.Pixel(113);
                    settings.ControlStyle.HorizontalAlign = HorizontalAlign.Right;
                    settings.Properties.ClientSideEvents.NumberChanged = String.Format("function(s,e) {{ SubmitConversionTemperatureAndPressure('{0}'); }}", TemperatureAndPressureEditorId.Celsius);
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(
                settings => {
                    settings.Name = "ASPxLabel19";
                    settings.Text = "Celsius";
                }).GetHtml()
        </td>
        <td class="UnitConversionAlignedColumn">
            @Html.DevExpress().SpinEditFor(model => model.Kilopascal,
                settings => {
                    settings.Name = "Kilopascal";
                    settings.TabIndex = 1;
                    settings.Width = Unit.Pixel(113);
                    settings.ControlStyle.HorizontalAlign = HorizontalAlign.Right;
                    settings.Properties.ClientSideEvents.NumberChanged = String.Format("function(s,e) {{ SubmitConversionTemperatureAndPressure('{0}'); }}", TemperatureAndPressureEditorId.Kilopascal);
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(
                settings => {
                    settings.Name = "ASPxLabel20";
                    settings.Text = "Kilopascal";
                }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().SpinEditFor(model => model.Fahrenheit,
                settings => {
                    settings.Name = "Fahrenheit";
                    settings.TabIndex = 2;
                    settings.Width = Unit.Pixel(113);
                    settings.ControlStyle.HorizontalAlign = HorizontalAlign.Right;
                    settings.Properties.ClientSideEvents.NumberChanged = String.Format("function(s,e) {{ SubmitConversionTemperatureAndPressure('{0}'); }}", TemperatureAndPressureEditorId.Fahrenheit);
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(
                settings => {
                    settings.Name = "ASPxLabel21";
                    settings.Text = "Fahrenheit";
                }).GetHtml()
        </td>
        <td class="UnitConversionAlignedColumn">
            @Html.DevExpress().SpinEditFor(model => model.Atmosphere,
                settings => {
                    settings.Name = "Atmosphere";
                    settings.TabIndex = 5;
                    settings.Width = Unit.Pixel(113);
                    settings.ControlStyle.HorizontalAlign = HorizontalAlign.Right;
                    settings.Properties.ClientSideEvents.NumberChanged = String.Format("function(s,e) {{ SubmitConversionTemperatureAndPressure('{0}'); }}", TemperatureAndPressureEditorId.Atmosphere);
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(
                settings => {
                    settings.Name = "ASPxLabel22";
                    settings.Text = "Atmosphere";
                }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().SpinEditFor(model => model.Kelvin,
                settings => {
                    settings.Name = "Kelvin";
                    settings.TabIndex = 3;
                    settings.Width = Unit.Pixel(113);
                    settings.ControlStyle.HorizontalAlign = HorizontalAlign.Right;
                    settings.Properties.ClientSideEvents.NumberChanged = String.Format("function(s,e) {{ SubmitConversionTemperatureAndPressure('{0}'); }}", TemperatureAndPressureEditorId.Kelvin);
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(
                settings => {
                    settings.Name = "ASPxLabel23";
                    settings.Text = "Kelvin";
                }).GetHtml()
        </td>
        <td class="UnitConversionAlignedColumn">
            @Html.DevExpress().SpinEditFor(model => model.MmOfMercury,
                settings => {
                    settings.Name = "MmOfMercury";
                    settings.TabIndex = 6;
                    settings.Width = Unit.Pixel(113);
                    settings.ControlStyle.HorizontalAlign = HorizontalAlign.Right;
                    settings.Properties.ClientSideEvents.NumberChanged = String.Format("function(s,e) {{ SubmitConversionTemperatureAndPressure('{0}'); }}", TemperatureAndPressureEditorId.MmOfMercury);
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(
                settings => {
                    settings.Name = "ASPxLabel24";
                    settings.Text = "mm of Mercury";
                }).GetHtml()
        </td>
    </tr>
</table>
<button id="submitButton4" type="submit" style="display: none;"></button>