@model UnitConversionMassModel

<script type="text/javascript">
    // <![CDATA[
    function SubmitConversionMassForm(activeEditorId) {
        if (document.unitConversionLock)
            return;
        $('#TPMassContainer>#UnitMassGroupEditorId').val(activeEditorId);
        $('#TPMassContainer>#submitButton').trigger('submit');
    }
    // ]]>
</script>

@Html.HiddenFor(model => model.UnitMassGroupEditorId, new { id = "UnitMassGroupEditorId" })
@Html.DevExpress().Label(
                settings => {
                    settings.Name = "ASPxLabel1";
                    settings.Text = "WEIGHT AND MASS";
                    settings.ControlStyle.Font.Size = FontUnit.Parse("30px");
                }).GetHtml()
<table class="UnitConversionLayoutTable">
    <tr>
        <td>
            @Html.DevExpress().SpinEditFor(model => model.Gram,
                settings => {
                    settings.Name = "Gram";
                    settings.Width = Unit.Pixel(113);
                    settings.ControlStyle.HorizontalAlign = HorizontalAlign.Right;
                    settings.Properties.ClientSideEvents.NumberChanged = String.Format("function(s,e) {{ SubmitConversionMassForm('{0}'); }}", UnitMassGroupEditorId.Gram);
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(
                settings => {
                    settings.Name = "ASPxLabel2";
                    settings.Text = "Gram";
                }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().SpinEditFor(model => model.Kilogram,
                settings => {
                    settings.Name = "Kilogram";
                    settings.Width = Unit.Pixel(113);
                    settings.ControlStyle.HorizontalAlign = HorizontalAlign.Right;
                    settings.Properties.ClientSideEvents.NumberChanged = String.Format("function(s,e) {{ SubmitConversionMassForm('{0}'); }}", UnitMassGroupEditorId.Kilogram);
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(
                settings => {
                    settings.Name = "ASPxLabel3";
                    settings.Text = "Kilogram";
                }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().SpinEditFor(model => model.Pounds,
                settings => {
                    settings.Name = "Pounds";
                    settings.Width = Unit.Pixel(113);
                    settings.ControlStyle.HorizontalAlign = HorizontalAlign.Right;
                    settings.Properties.ClientSideEvents.NumberChanged = String.Format("function(s,e) {{ SubmitConversionMassForm('{0}'); }}", UnitMassGroupEditorId.Pound);
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(
                settings => {
                    settings.Name = "ASPxLabel4";
                    settings.Text = "Pound mass";
                }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().SpinEditFor(model => model.OunceMass,
                settings => {
                    settings.Name = "OunceMass";
                    settings.Width = Unit.Pixel(113);
                    settings.ControlStyle.HorizontalAlign = HorizontalAlign.Right;
                    settings.Properties.ClientSideEvents.NumberChanged = String.Format("function(s,e) {{ SubmitConversionMassForm('{0}'); }}", UnitMassGroupEditorId.Ounce);
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(
                settings => {
                    settings.Name = "ASPxLabel5";
                    settings.Text = "Ounce mass";
                }).GetHtml()
        </td>
    </tr>
</table>
<button id="submitButton3" type="submit" style="display: none;"></button>