@model MobileEmulatorModel

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/MobileEmulator.css")" />
@if(Model.IsLandscape) {
    <div class="main landscape">
        <iframe name="ios" id="ios" class="landscape" src="@Url.Content(Model.Url)"></iframe>
        <a href="@Url.Content(Model.Url)">
            <div class="QRCode landscape">
                <img src='@Model.QRCodeUrl' alt="QRCode" />
                <div>View on your device</div>
            </div>
        </a>
    </div>
}
else {
    <div class="main">
        <iframe name="ios" id="ios" src="@Url.Content(Model.Url)"></iframe>
        <a href="@Url.Content(Model.Url)">
            <div class="QRCode">
                <img src='@Model.QRCodeUrl' alt="QRCode" />
                <div>View on your device</div>
            </div>
        </a>
    </div>
}