@model IList
<script type="text/javascript">
    $(window).load(UpdateLabelKindDisabled);

    function SetLabelKindEnabled() {
        $("#labelKind")[0].disabled = false;
    }
    function UpdateLabelKindDisabled() {
        $("#labelKind")[0].disabled = !($("#showLabels")[0].checked);
    }
</script>
@using (Html.BeginForm()) {
    ChartRange3DDemoOptions options = (ChartRange3DDemoOptions)ViewData[ChartDemoHelper.OptionsKey];
    
    <div class="chartOptionsPanel" style="height:auto; font-size:12px;">
        <table style="width: 100%;">
            <tr>
                <td>
                    @Html.CheckBox("showLabels", options.ShowLabels, new { onclick = "UpdateLabelKindDisabled()" })
                </td>
                <td class="NoWrap">
                    <label for="showLabels" style="width:auto">Show Labels</label>
                </td>
                <td><div class="Spacer" style="width: 10px;"></div></td>
                <td class="NoWrap">
                    <label>Label Kind</label>
                </td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td style="width: 100%;">
                    @Html.DropDownList("labelKind", ChartDemoHelper.GetLabelKinds(), new { style = "width:120px" })
                </td>
                <td><div class="Spacer" style="width: 220px;"></div></td>
                <td class="NoWrap"><label for="perspectiveAngle">Perspective Angle</label></td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td>
                    @Html.DropDownList("perspectiveAngle", ChartDemoHelper.GetPerspectiveAngle())
                </td>
                <td><div class="Spacer" style="width: 10px;"></div></td>
                <td class="NoWrap"><label for="zoomPercent">Zoom Percent</label></td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td>
                    @Html.DropDownList("zoomPercent", ChartDemoHelper.GetZoomPercent())
                </td>
                <td><div class="Spacer" style="width:14px;"></div></td>
                <td><input style="float: right;" type="submit" value="Apply" onclick="SetLabelKindEnabled()" /></td>
            </tr>
        </table>
    </div>


    @Html.DevExpress().Chart(settings => {
        settings.Name = "chart";
        settings.BorderOptions.Visibility = DefaultBoolean.False;
        settings.Height = 500;
        settings.Width = 920;
        settings.CrosshairEnabled = DefaultBoolean.True;
        settings.ToolTipEnabled = DefaultBoolean.False;
    
        settings.Legends.Default(l => {
            l.Visibility = DefaultBoolean.False;
        });

        settings.Series.Template(t => {
            t.ArgumentScaleType = ScaleType.DateTime;
            t.SetRangeDataMembers("Date", "Min", "Max");
            t.LabelsVisibility = options.ShowLabels ? DefaultBoolean.True : DefaultBoolean.False;
            t.Views().RangeArea3DSeriesView(v => {
                v.SeriesLabel(l => {
                    l.Kind = options.LabelKind;
                });
            });
        });
    
        settings.XYDiagram3D(d => {
            d.RotationType = RotationType.UseAngles;
            d.RotationOrder = RotationOrder.XYZ;
            d.VerticalScrollPercent = 4;
            d.PerspectiveAngle = options.PerspectiveAngle;
            d.ZoomPercent = options.ZoomPercent;
            d.AxisX.DateTimeScaleOptions.GridSpacing = 2;
            d.AxisX.DateTimeScaleOptions.MeasureUnit = DateTimeMeasureUnit.Month;
            d.AxisX.DateTimeScaleOptions.GridAlignment = DateTimeGridAlignment.Month;
            d.AxisX.WholeRange.AutoSideMargins = true;
            d.AxisX.Label.TextPattern = "{A:MMMM}";
            d.AxisY.WholeRange.AlwaysShowZeroLevel = false;
            d.AxisY.WholeRange.AutoSideMargins = true;
            d.AxisY.Interlaced = true;
            d.AxisY.Label.TextPattern = "${V:N0}";
            d.AxisY.WholeRange.Auto = false;
            d.AxisY.WholeRange.SetMinMaxValues(30, 70);
        });

        settings.Titles.Add(new ChartTitle() {
            Text = "Crude Oil Prices in 2015"
        });
        settings.Titles.Add(new ChartTitle() {
            Alignment = StringAlignment.Far,
            Dock = ChartTitleDockStyle.Bottom,
            Font = new Font("Tahoma", 8),
            TextColor = Color.Gray,
            Text = "From www.eia.gov"
        });
    }).Bind(Model, "Name").GetHtml()
}
