<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="Content/favicon.ico" />
    <title>Web Dashboard - ASP.NET MVC Dashboard Demo | DevExpress</title>

    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/scripts.js")" type="text/javascript"></script>

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.Dashboard }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.Dashboard }
    )
</head>
<body>
    @RenderBody()
</body>
</html>