@model IList

@using (Html.BeginForm()) {
    ChartBar3DDemoOptions options = (ChartBar3DDemoOptions)ViewData[ChartDemoHelper.OptionsKey];
    
    <div class="chartOptionsPanel" style="height:auto; font-size:12px">
        <table style="width: 100%;">
            <tr>
                <td>
                    @Html.CheckBox("showFacet", options.ShowFacet)
                </td>
                <td class="NoWrap">
                    <label for="showFacet" style="width:auto">Show Facet</label>
                </td>
                <td><div class="Spacer" style="width: 320px;"></div></td>
                <td class="NoWrap"><label>Bar 3D Model</label></td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td>
                    @Html.DropDownList("bar3DModelString", ChartDemoHelper.GetBar3DModel())
                </td>
                <td><div class="Spacer" style="width: 10px;"></div></td>
                <td class="NoWrap"><label>Transparency</label></td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td>
                    @Html.DropDownList("transparency", ChartDemoHelper.GetTransparency("45"))
                </td>
                <td></td>
            </tr>
            <tr>
                <td><div class="Spacer" style="width: 100%; height: 5px;"></div></td>
            </tr>
            <tr>
                <td>
                    @Html.CheckBox("showLabels", options.ShowLabels)
                </td>
                <td class="NoWrap">
                    <label for="showLabels" style="width:auto">Show Labels</label>
                </td>
                <td><div class="Spacer" style="width: 320px;"></div></td>
                <td class="NoWrap"><label>Perspective Angle</label></td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td>
                    @Html.DropDownList("perspectiveAngle", ChartDemoHelper.GetPerspectiveAngle())
                </td>
                <td><div class="Spacer" style="width: 10px;"></div></td>
                <td class="NoWrap"><label>Zoom Percent</label></td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td>
                    @Html.DropDownList("zoomPercent", ChartDemoHelper.GetZoomPercent())
                </td>
                <td>
                    <input style="float: right;" type="submit" value="Apply" />
                </td>
            </tr>
        </table>
    </div>

    @Html.DevExpress().Chart(settings => {
        settings.Name = "chart";
        settings.Width = 920;
        settings.Height = 500;
        settings.BorderOptions.Visibility = DefaultBoolean.False;
        settings.CrosshairEnabled = options.ShowLabels ? DefaultBoolean.False : DefaultBoolean.True;

        settings.Legends.Default(l => {
            l.AlignmentHorizontal = LegendAlignmentHorizontal.Center;
            l.AlignmentVertical = LegendAlignmentVertical.BottomOutside;
            l.Direction = LegendDirection.LeftToRight;
            l.Border.Visibility = DefaultBoolean.False;
        });

        settings.Series.Template(t => {
            t.Views().StackedBar3DSeriesView(v => {
                v.SeriesLabel(l => {
                    l.TextPattern = "{V:0,,.0}";
                });
                v.ShowFacet = options.ShowFacet;
                v.Model = (Bar3DModel)Enum.Parse(typeof(Bar3DModel), options.Bar3DModelString);
                v.Transparency = options.Transparency;
            });
            t.SetDataMembers("Country", "Population");
            t.LabelsVisibility = options.ShowLabels ? DefaultBoolean.True : DefaultBoolean.False;
        });

        settings.XYDiagram3D(d => {
            d.AxisY.Label.TextPattern = "{V:0,,}M";
            d.RotationType = RotationType.UseAngles;
            d.RotationOrder = RotationOrder.XYZ;
            d.VerticalScrollPercent = 4;
            d.PerspectiveAngle = options.PerspectiveAngle;
            d.ZoomPercent = options.ZoomPercent;
        });

        settings.Titles.Add(new ChartTitle() {
            Text = "Female Age Structure"
        });
        settings.Titles.Add(new ChartTitle() {
            Alignment = StringAlignment.Far,
            Dock = ChartTitleDockStyle.Bottom,
            Font = new Font("Tahoma", 8),
            TextColor = Color.Gray,
            Text = "From www.cia.gov"
        });
    }).Bind(Model, seriesDataMember: "Age").GetHtml()
}
