@model ReportsDemoModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head id="Head1">
    <title>Mobile Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <link href="@Url.Content("~/Content/Designer.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery-ui-1.11.4.custom.min.css")" rel="stylesheet" />
    @Html.DevExpress().GetStyleSheets(ASPxWebClientUIControl.ColorSchemeLight,
                new StyleSheet { ExtensionType = ExtensionType.WebDocumentViewer }
    )
    <script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.custom.min.js")"></script>
    <script src="@Url.Content("~/Scripts/globalize.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout.js")"></script>
    <script src="@Url.Content("~/Scripts/ace.js")"></script>
    <script src="@Url.Content("~/Scripts/ext-language_tools.js")"></script>
    @Html.DevExpress().GetScripts(
                new Script { ExtensionType = ExtensionType.WebDocumentViewer }
    )
</head>
<body>
    <script type="text/javascript">
    function WebDocumentViewerInit(s, e) {
        var reportPreview = s.GetPreviewModel().reportPreview;
        reportPreview.customProcessBrickClick = function(pageIndex, brick) {
            if(brick) {
                if(brick.text() === "Show Results") {
                    reportPreview.drillThrough("showResults");
                } else if(brick.text() === "Start a new poll") {
                    reportPreview.drillThrough("startNewPoll");
                }
            }
        }
        reportPreview.editingFieldChanged = function(field) {
            if(field.groupID()) {
                reportPreview.editingFieldsProvider()
                    .forEach(function(item) {
                        if(item.id() === field.id() && item !== field) {
                            item.readOnly(field.editValue() !== DevExpress.Report.Preview.CheckState.Checked);
                        }
                    });
            }
        }
    }
    </script>
    @Html.DevExpress().WebDocumentViewer(settings => {
        settings.Name = "webDocumentViewer";
        settings.MobileMode = true;
        settings.ControlStyle.CssClass = "fullscreen";
        settings.Height = Unit.Empty;
        if(Model.ReportID == "PollingReport"){
            settings.ClientSideEvents.Init = "WebDocumentViewerInit";
        }
    }).Bind(Model.Report).GetHtml()
</body>

</html>