@section AdditionalResources {
    <style type="text/css">
       .TableCell
       {
            vertical-align: top;
            padding-bottom: 20px;
            padding-right: 30px;
       }
       td:last-child.TableCell
       {
            padding-right: 0px;
       }
       .ControlName
       {
           font-size: 15px;
           padding-bottom: 3px;
       }
       .TableCell .dxeListBox_Moderno
       {
           Height: 147px;
       }
    </style>
}

@using(Html.BeginForm()) {
    <table style="width: 100%">
        <tr>
            <td style="width: 163px;" class="TableCell">
                <div class="ControlName">ListBox</div>
                @Html.DevExpress().ListBox(settings => {
                   settings.Name = "listBox";
                   settings.Width = Unit.Pixel(163);
                   settings.Properties.Items.Add("Ana Trujillo");
                   settings.Properties.Items.Add("Giovanni Rovelli");
                   settings.Properties.Items.Add("Jaime Yorres");
                   settings.Properties.Items.Add("John Steel");
                   settings.SelectedIndex = 1;
                }).GetHtml()
            </td>
            <td class="TableCell">
                <div class="ControlName">ProgressBar</div>
                @Html.DevExpress().ProgressBar(settings => {
                   settings.Name = "progressBar";
                   settings.Width = Unit.Pixel(358);
                   settings.Properties.ShowPosition = true;
                   settings.Position = 42;
                }).GetHtml()
                <div class="ControlName" style="padding-top: 15px;">TrackBar</div>
                @Html.DevExpress().TrackBar(settings => {
                   settings.Name = "trackBar";
                   settings.Width = Unit.Pixel(358);
                   settings.Properties.MinValue = 0;
                   settings.Properties.MaxValue = 50;
                   settings.Properties.Step = 1;
                   settings.PositionStart = 10;
                   settings.Properties.ScalePosition = ScalePosition.LeftOrTop;
                   settings.Properties.LargeTickInterval = 10;
                }).GetHtml()
            </td>
        </tr>
    </table>
    <table style="width: 100%">
        <tr>
            <td style="width: 163px;" class="TableCell">
                <div class="ControlName">DropDownEdit</div>
                @Html.DevExpress().DropDownEdit(settings => {
                   settings.Name = "dropDownEdit";
                   settings.Properties.NullText = "Text area";
                   settings.Width = Unit.Pixel(163);
                   settings.SetDropDownWindowTemplateContent("<div style='padding: 10px 0 10px 3px'>Dropdown content</div>");
                }).GetHtml()
            </td>
            <td style="width: 163px;" class="TableCell">
                <div class="ControlName">ComboBox</div>
                @Html.DevExpress().ComboBox(settings => {
                   settings.Name = "comboBox";
                   settings.Width = Unit.Pixel(163);
                   settings.Properties.Items.Add("Ana Trujillo");
                   settings.Properties.Items.Add("Giovanni Rovelli");
                   settings.Properties.Items.Add("Jaime Yorres");
                   settings.Properties.Items.Add("John Steel");
                   settings.SelectedIndex = 2;
                }).GetHtml()
            </td>
            <td class="TableCell">
                <div class="ControlName">SpinEdit</div>
                @Html.DevExpress().SpinEdit(settings => {
                   settings.Name = "spinEdit";
                   settings.Width = Unit.Percentage(100);
                   settings.Properties.NumberFormat = SpinEditNumberFormat.Number;
                   settings.Properties.Increment = 100;
                   settings.Properties.MinValue = 0;
                   settings.Properties.MaxValue = 10000;
                   settings.Number = 100;
                }).GetHtml()
            </td>
        </tr>
        <tr>
            <td class="TableCell">
                <div class="ControlName">DateEdit</div>
                @Html.DevExpress().DateEdit(settings => {
                   settings.Name = "dateEdit";
                   settings.Properties.EditFormat = EditFormat.Custom;
                   settings.Date = new DateTime(2009, 11, 2, 9, 23, 0);
                   settings.Width = Unit.Percentage(100);
                   settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormatString = "hh:mm tt";
                }).GetHtml()
            </td>
            <td class="TableCell">
                <div class="ControlName">TextBox</div>
                @Html.DevExpress().TextBox(settings => {
                   settings.Name = "textBox";
                   settings.Text = "123456";
                   settings.Properties.DisplayFormatString = "[ 00 - 00 - 00 ]";
                   settings.Width = Unit.Percentage(100);
                }).GetHtml()
            </td>
            <td class="TableCell">
                <div class="ControlName">TimeEdit</div>
                @Html.DevExpress().TimeEdit(settings => {
                    settings.Name = "timeEdit";
                    settings.DateTime = new DateTime(2009, 11, 01, 15, 31, 34);
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
                }).GetHtml()
            </td>
        </tr>
        <tr>
            <td class="TableCell">
                <div class="ControlName">ButtonEdit</div>
                @Html.DevExpress().ButtonEdit(settings => {
                    settings.Name = "buttonEdit";
                    settings.Width = Unit.Pixel(163);
                    settings.Text = "Andy McKee - Rylynn";
                    settings.Properties.Buttons.Add();
                }).GetHtml()
                <br/>
                <div class="ControlName">RadioButtonList</div>
                @Html.DevExpress().RadioButtonList(settings => {
                    settings.Name = "radioButtonList1";
                    settings.Width = Unit.Pixel(163);
                    settings.Properties.RepeatDirection = RepeatDirection.Horizontal;
                    settings.Properties.Items.Add("MVC").Selected = true;
                    settings.Properties.Items.Add("ASP");
                }).GetHtml()
            </td>
            <td class="TableCell">
                <div class="ControlName">ColorEdit</div>
                @Html.DevExpress().ColorEdit(settings => {
                    settings.Name = "colorEdit";
                    settings.Width = Unit.Percentage(100);
                    settings.Color = Color.FromArgb(255, 153, 0);
                }).GetHtml()
                <br/>
                <div class="ControlName">CheckBoxList</div>
                @Html.DevExpress().CheckBoxList(settings => {
                    settings.Name = "checkBoxList";
                    settings.Width = Unit.Pixel(163);
                    settings.Properties.RepeatDirection = RepeatDirection.Horizontal;
                    settings.Properties.Items.Add("Wi-Fi").Selected = true;
                    settings.Properties.Items.Add("3G");
                }).GetHtml()
            </td>
            <td class="TableCell" style="padding-bottom: 43px;">
                <div class="ControlName">Memo</div>
                @Html.DevExpress().Memo(settings => {
                    settings.Name = "memo1";
                    settings.Text = "Confections - Desserts, candies, and sweet breads.";
                    settings.Height = Unit.Percentage(100);
                    settings.Width = Unit.Percentage(100);
                }).GetHtml()
                <div style="margin-bottom: -23px"></div>
            </td>
        </tr>
        <tr>
            <td class="TableCell">
                <div class="ControlName">RadioButton</div>
                @Html.DevExpress().RadioButton(settings => {
                    settings.Name = "radioButton";
                    settings.Text = "Click to change state";
                }).GetHtml()
            </td>
            <td class="TableCell" >
                <div class="ControlName">CheckBox</div>
                @Html.DevExpress().CheckBox(settings => {
                    settings.Name = "checkBox";
                    settings.Text = "Click to change state";
                }).GetHtml()
            </td>
            <td class="TableCell" >
                <div class="ControlName">TokenBox</div>
                @Html.DevExpress().TokenBox(settings => {
                    settings.Name = "tokenBox";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                    settings.Properties.NullText = "Type Jaime";
                    settings.Properties.Items.Add("Ana Trujillo");
                    settings.Properties.Items.Add("Giovanni Rovelli");
                    settings.Properties.Items.Add("Jaime Yorres");
                    settings.Properties.Items.Add("John Steel");
                }).GetHtml()
            </td>
        </tr>
    </table>
    <table style="width: 100%">
        <tr>
            <td style="width: 163px;" class="TableCell">
                <div class="ControlName">Captcha</div>
                @Html.Partial("CaptchaPartial")
                <div class="ControlName">Button</div>
                @Html.DevExpress().Button(settings => {
                    settings.Name = "button";
                    settings.Width = Unit.Pixel(163);
                    settings.Text = "Submit";
                    settings.UseSubmitBehavior = true;
                }).GetHtml()
            </td>
            <td style="vertical-align: top;">
                <div class="ControlName">Calendar</div>
                @Html.DevExpress().Calendar(settings => {
                    settings.Name = "calendar";
                    settings.Properties.ShowClearButton = true;
                    settings.Properties.ShowDayHeaders = true;
                    settings.Properties.ShowHeader = true;
                    settings.Properties.ShowTodayButton = true;
                    settings.Properties.ShowWeekNumbers = true;
                }).GetHtml()
            </td>
        </tr>
    </table>
}
