@model SpreadsheetSimplifiedMultiplicationTableModel
<script type="text/javascript">
    function UpdatePreview() {
        var TableCountValue = TableCount.GetValue();
        var ColumnCountValue = ColumnCount.GetValue();
        var params = "TableCount=" + encodeURIComponent(TableCountValue) + "&ColumnCount=" + encodeURIComponent(ColumnCountValue);
        SpreadsheetPreview.Update(params);
    }
</script>

@using (Html.BeginForm("SimplifiedMultiplicationTableExportTo", "Spreadsheet", FormMethod.Post)) {
    <table class="OptionsTable">
        <tr>
            <td>
                @Html.DevExpress().Label(
                            settings => {
                                settings.Text = "Table&nbsp;Count: ";
                                settings.EncodeHtml = false;
                                settings.AssociatedControlName = "TableCount";
                            }).GetHtml()
            </td>
            <td style="width: 100%;">
                @Html.DevExpress().SpinEditFor(model => model.TableCount,
                            settings => {
                                settings.Name = "TableCount";
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 20;
                                settings.Properties.LargeIncrement = 5;
                                settings.Height = Unit.Pixel(19);
                                settings.Width = Unit.Pixel(72);
                                settings.Properties.NumberType = SpinEditNumberType.Integer;
                                settings.Properties.ClientSideEvents.ValueChanged = "function(s,e) { UpdatePreview(); }";
                            }).GetHtml()
            </td>
            <td rowspan="2" style="vertical-align: bottom;">
                @Html.Partial("SpreadsheetDocumentDownloaderPartial")
            </td>
        </tr>
        <tr>
            <td>
                @Html.DevExpress().Label(
                            settings => {
                                settings.Text = "Column&nbsp;Count: ";
                                settings.EncodeHtml = false;
                                settings.AssociatedControlName = "ColumnCount";
                            }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().SpinEditFor(model => model.ColumnCount,
                            settings => {
                                settings.Name = "ColumnCount";
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 20;
                                settings.Properties.LargeIncrement = 5;
                                settings.Height = Unit.Pixel(19);
                                settings.Width = Unit.Pixel(72);
                                settings.Properties.NumberType = SpinEditNumberType.Integer;
                                settings.Properties.ClientSideEvents.ValueChanged = "function(s,e) { UpdatePreview(); }";
                            }).GetHtml()
            </td>
        </tr>
    </table>
    <br />
    @Html.Partial("SpreadsheetPreviewPartial", Model.PreviewModel)    
}