<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        @ViewBag.Title
    </title>

    @*<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">*@
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet">
    <link rel="stylesheet" href="http://openlayers.org/en/v3.18.2/css/ol.css" type="text/css">

    <link href="@Url.Content("~/assets/css/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/ace.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/ace-rtl.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/ace-part2.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/ace-ie.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Enhancement.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/font-awesome.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/ace-fonts.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/ace-skins.css")" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @*<script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/assets/js/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace-extra.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.scroller.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.colorpicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.fileinput.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.typeahead.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.wysiwyg.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.treeview.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.wizard.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.aside.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.ajax-content.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.touch-drag.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.sidebar.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.sidebar-scroll-1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.submenu-hover.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.widget-box.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.settings.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.settings-rtl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.settings-skin.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.widget-on-reload.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.searchbox-autocomplete.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/Images/icon.ico")" rel="shortcut icon">

    <style>
        .project-title {
            font-family: "Open Sans";
            font-size: 22px;
            font-weight: bold;
            padding-top: 5px !important;
        }
    </style>
</head>
<body class="no-skin">
    <form runat="server">
        <div id="navbar" class="navbar navbar-default project-baner" style="min-height: 55px;">
            <script type="text/javascript">
                try {
                    ace.settings.check('navbar', 'fixed')
                } catch (e) {
                }
            </script>
            <div class="navbar-container" id="navbar-container">
                <div class="navbar-buttons navbar-header pull-left img-responsive" role="navigation">
                    <div class="navbar-brand" style="margin-top: 5px;">
                        <i class="fa fa-line-chart"></i>
                        <label class="project-title">ARC Reports</label>
                        <label class="beta">Beta</label>
                    </div>
                </div>
                <div class="navbar-header pull-right">
                    <a href="http://www.alrajhi-capital.com/ar/Pages/default.aspx" target="_blank">
                        <img src="@Url.Content("~/Content/Images/logo.png")" style="margin-top: 8px;" />
                    </a>
                </div>
            </div>
        </div>
        <div class="main-container" id="main-container">
            <script type="text/javascript">
                try {
                    ace.settings.check('main-container', 'fixed')
                } catch (e) {
                }
            </script>
            <div id="sidebar" class="sidebar responsive">
                <script type="text/javascript">
                    try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
                </script>

                <ul class="nav nav-list">
                    <li class="active open">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-list"></i>
                            <span class="menu-text">
                                Reports
                            </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu nav-show" style="display: block;">
                            <li class="open">
                                <a href="#" class="dropdown-toggle">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Market Share
                                    <b class="arrow fa fa-angle-down"></b>
                                </a>

                                <b class="arrow"></b>

                                <ul class="submenu">

                                    <li class="">
                                        <a href="@Url.Content("~/Pages/MarketShareTotals")">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            Market Share Totals
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Content("~/Pages/MarketShareDetails")">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            Market Share Details
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Content("~/Pages/MarketShareGraph")">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            Market Share Graphs
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Content("~/Pages/BrokerageMetrics")">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            Brokerage Metrics
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Content("~/Pages/SummaryCommission")">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            Summary Commission
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Content("~/Pages/SummaryCommissionPortfolio")">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            Summary Commission Portfolio
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.nav-list -->
                <!-- #section:basics/sidebar.layout.minimize -->
                <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
                </div>

                <!-- /section:basics/sidebar.layout.minimize -->
                <script type="text/javascript">
                    try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
                </script>
            </div>
            <div class="main-content">
                <div class="main-content-inner">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-xs-12">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row">
                    <div class="footer-inner">
                        <div class="footer-content">
                            <span class="bigger-80">
                                Copyright
                            </span>&copy; 2017
                            <span class="blue bolder">
                                <a href="http://www.alrajhi-capital.com/ar/Pages/default.aspx">
                                    Al Rajhi Capital
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
        </div>
    </form>
</body>
</html>