@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title>Fixed Position - ASP.NET MVC Panel Extension</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Panel/FixedPosition.css")" /> 
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.Panel }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.Panel }
    )
</head>
<body>
    @Html.DevExpress().Panel(settings => {
        settings.Name = "TopPanel";
        settings.FixedPosition = PanelFixedPosition.WindowTop;
        settings.Styles.Panel.BackColor = ColorTranslator.FromHtml("#DBF4DE");
        settings.SetContent(() => {
            ViewContext.Writer.Write("<div class='pnl-content' style='padding: 20px 0'>This is Panel extension with FixedPosition=WindowTop</div>");
        });
    }).GetHtml()
    @Html.DevExpress().Panel(settings => {
        settings.Name = "LeftPanel";
        settings.FixedPosition = PanelFixedPosition.WindowLeft;
        settings.Styles.Panel.BackColor = ColorTranslator.FromHtml("#F3EAFB");
        settings.SetContent(() => {
            ViewContext.Writer.Write("<div class='pnl-content' style='width: 200px; padding: 20px 0'>This is Panel extension with FixedPosition=WindowLeft</div>");
        });
    }).GetHtml()
    @Html.DevExpress().Panel(settings => {
        settings.Name = "BottomPanel";
        settings.FixedPosition = PanelFixedPosition.WindowBottom;
        settings.Styles.Panel.BackColor = ColorTranslator.FromHtml("#DBEBF4");
        settings.SetContent(() => {
            ViewContext.Writer.Write("<div class='pnl-content'>This is Panel extension with FixedPosition=WindowBottom</div>");
        });
    }).GetHtml()
    <div class="body-content">
        <h3>UI Controls for Your Next Great Web App</h3>
        <p>
            With DevExpress web controls, you can build a bridge to the future on the platform you know and love. The 175+ AJAX controls and MVC extensions that make up the DevExpress ASP.NET Subscription have been engineered so you can deliver exceptional, touch-enabled, interactive experiences for the web, regardless of the target browser or computing device. DevExpress web UI components support all major browsers including Internet Explorer, FireFox, Chrome, Safari and Opera, and are continuously tested to ensure the best possible compatibility across platforms, operating systems and devices.
        </p>
        <p>
            And to ensure you can build your best and meet the needs of your enterprise each and every time, the DevExpress ASP.NET Subscription ships with 20 built-in application themes that can be used out-of-the box or customized via our ASP.NET Theme Builder.
        </p>

        <h3>UI Controls for Your Next Great Hybrid App</h3>
        <p>
            With DevExpress UI controls, you'll be able to deliver elegant line-of-business applications that emulate the touch-first Windows 8 Pro UX and maintain backward compatibility with previous versions of the Windows operating system. Whether you need to create a tile-based, modern UI application for Windows or need to quickly convert an existing application for use on Microsoft Surface, the DevExpress WinForms & WPF Subscriptions will help you deliver immersive business solutions, without abandoning your existing code investments. And because we continue to extend our .NET product line with enterprise-ready capabilities designed to help you build next-generation user experiences on the platform of your choice, you can rest assured that your apps will never be left behind, regardless of changes made to Windows or the introduction of new device form-factors.
        </p>

        <h3>UI Controls for Your Next Great Mobile App</h3>
        <p>
            Create highly-responsive mobile apps that meet the needs of your ever-changing enterprise and the BYOD world. Use the power of HTML, CSS3 and JavaScript to deliver line-of-business solutions that look, feel and behave just like native apps, without learning multiple languages or frameworks.
        </p>
        <p>
            DevExpress Universal ships with DevExtreme—the framework you'll need to deliver beautiful, easy-to-use HTML5/ JavaScript applications for smartphones, tablets and desktop browsers. With nine high-impact themes replicating today's most popular mobile OS interfaces, DevExtreme apps automatically apply the appropriate theme to your solution so your "write once, use everywhere" apps look great, regardless of the end-user's device or platform choice.
        </p>

        <h3>UI Controls for Your Next Great Dashboard App</h3>
        <p>
            With DevExpress Dashboard for .NET, creating insightful and information-rich decision support systems for executives and business users across platforms and devices is a simple matter of selecting the appropriate UI element (Chart, Pivot Table, Data Card, Gauge, Map or Grid) and dropping data fields onto corresponding arguments, values and series. And because DevExpress Dashboard elements automatically provide the best data visualization option for you, results are immediate, accurate and always relevant.
        </p>
        <p>
            With full Visual Studio integration, DevExpress Dashboard allows you to deliver business solutions that target Windows, the Web and Mobile devices with breathtaking ease. It's built so you can manage everything inside your favorite IDE: from data-binding and dashboard design to filtering, drill down and event handling.  
        </p>
    </div>
</body>
</html>
